{#
* This file is part of the Simple Web Demo Free Lottery Management Application.
*
* This project is no longer maintained.
* The project is written in Symfony Framework Release.
*
* @link https://github.com/scorpion3dd
* @author Denis Puzik <scorpion3dd@gmail.com>
* @copyright Copyright (c) 2023-2024 scorpion3dd
#}

{% extends '@email/default/notification/body.html.twig' %}

{% block content %}
    {{ 'Author:'|trans }} {{ comment.author }}<br />
    {{ 'Email:'|trans }} {{ comment.email }}<br />
    {{ 'State:'|trans }} {{ comment.state }}<br />

    <p>
        {{ comment.text }}
    </p>
{% endblock %}

{% block action %}
    <spacer size="16"></spacer>
    <button href="{{ url('review_comment', { id: comment.id }) }}">{{ 'Accept'|trans }}</button>
    <button href="{{ url('review_comment', { id: comment.id, reject: true }) }}">{{ 'Reject'|trans }}</button>
{% endblock %}
